@use 'app-bar.scss';

$app-bar_color: #fff;
$board-raidus: 8px;

body {
  margin: 0;
}

.mdc-top-app-bar {
  background-color: $app-bar_color;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  z-index: 4;
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

// Main Wrapper
.main-wrapper {
  display: flex;
}

#parent-wrapper {
  justify-content: center;
}

.main-wrapper__content {
  flex: 1;
  width: 100%;
  max-width: 1536px;
  padding-top: 48px;
}

#game-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

// Title Wrapper
#game-board-wrapper,
#game-info-wrapper {
  padding: 0 24px 24px 24px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  line-height: 120px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 120px;
  border-radius: 0;

  .ms-Icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.board-row:first-of-type {
  .square:first-child {
    border-radius: $board-raidus 0 0 0;
  }

  .square:last-child {
    border-radius: 0 $board-raidus 0 0;
  }
}

.board-row:last-of-type {
  .square:first-child {
    border-radius: 0 0 0 $board-raidus;
  }

  .square:last-child {
    border-radius: 0 0 $board-raidus 0;
  }
}

#game-info-wrapper {
  flex-direction: column;
}

//#game-info-wrapper, #timeline, #snapshots, #snapshots > div {
//  height: 100%;
//}

.game-info__section:not(:last-of-type) {
  margin-bottom: 24px;
}

#status,
#timeline,
#snapshots {
  display: flex;
  flex-direction: column;
}

#status {
  .game-info__status-state {
    font-style: italic;
    opacity: .6;
  }

  &.win {
    .game-info__status {
      color: #107c10;
    }
  }

  &.tie {
    .game-info__status {
      color: #d83b01;
    }

    .game-info__status-state {
      visibility: hidden;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;

  &__title,
  &__description {
    margin: 0;
  }

  &__title:only-child,
  &__description {
    margin-bottom: 12px;
  }
}

#snapshots {

  button:not(:last-child) {
    margin-bottom: 4px;
  }
}

.thumb-57 {
  transition: border 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
  border-width: 3px;
}

.ms-Slider:hover .thumb-57 {
  border-width: 1px;
}

.ms-Slider:active .thumb-57 {
  border-width: 5px;
}